.chat-line .chat-line-text .text {
    position: absolute;
    z-index: 1;
    border-radius: 18px;
    max-width: 100%;
}

.chat-line .chat-line-text {
    position: relative;
    width: calc(100% - 120px);
    height: fit-content !important;
    border-radius: 15px;
}

.chat-line.friend .chat-line-text {
    left: -9px;
}

.chat-line.friend svg {
    top: 12px;
    position: relative;
    left: 0;
}

.chat-line.owner .chat-line-text  {
    right: -9px;
}

.chat-line.owner svg {
    top: 12px;
    position: relative;
    right: 0;
}

.chat-line .chat-input {
    position: relative;
}

.chat-line .avatar-chat-line {
    max-width: 65px;
    max-height: 65px;
    position: relative;
}

.chat-line.friend .avatar-chat-line {
    left: 0;
}

.chat-line.owner .avatar-chat-line {
    right: 0;
}