.contact {
    background-color: white;
    box-shadow: 0 0 8px 1px grey inset;
    border-radius: 10px;
    overflow-y: hidden;
}

.contact .avatar-contact {
    width: 40px;
    height: 40px;
}

.contact .status-contact.online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 100%;
}

.contact .contact-list {
    overflow: scroll;
}