.message-list .search-bar input {
    font-size: 12px;
}

.message-list {
    position: relative;
    overflow: hidden;
    top: 150px;
    border-radius: 10px;
    border: none;
    background-color: white;
    height: 440px;
    width: 100%;
}

.message-list .message-list-box {
    height: 295px;
    overflow: auto;
}

.message-list .avatar-message {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.message-list .chat-last {
    font-size: 12px;
    color: rgb(95, 95, 95);
}

.message-list .item-button {
    border: none;
}

.message-list .item-button.selected {
    background-color: #CEF4F6 !important;
}

.message-list .item-button:active, .message-list .item-button:focus {
    background-color: #CEF4F6;
    border: none;
}