.suggest-friend {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.suggest-friend .loading-spinner {
    width: 40px;
    height: 40px;
}

.suggest-friend .more-suggest {
    font-weight: bold !important;
    font-size: 12px;
    position: absolute;
    right: 15px;
    bottom: 0;
}

.suggest-friend .more-suggest:hover {
    color: rgb(253, 132, 132) !important;
}

.suggest-friend .more-suggest:focus, .more-suggest:hover {
    text-decoration: none !important;
}

.suggest-friend .sf-item {
    width: 100%;
    background-color: #e8ecf1;
    color: #4d545a;
}

.suggest-friend .sf-item:hover {
    text-decoration: none !important;
    background-color: #e2e5e7;
    color: #4b5157;
}

.suggest-friend .sf-info .user-name {
    font-weight: bold;
}

.suggest-friend .sf-info .user-info, .sf-info .mutual-info {
    font-size: 12px;
}