.suggest-friend {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    position: relative;
}

.more-suggest {
    font-weight: bold !important;
}

.more-suggest:hover {
    color: rgb(253, 132, 132) !important;
}

.more-suggest:focus, .more-suggest:hover {
    text-decoration: none !important;
}

.sf-item {
    width: 100%;
}

.sf-info {
    height: 100%;
}

.sf-info .user-name {
    font-weight: bold;
}

.sf-info .user-info, .sf-info .mutual-info {
    font-size: 12px;
}