.navbarcontent{
    font-size: 15px;
}
.logobanner img{
    width: 100%;
}
.navbarcontentblack .nav-link {
    color: black !important;
}
.center{
    display:flex;
    flex-direction: column;
    align-items: center ;
}
.imgmercedesc18amg{
    padding-top: 10px;
    width: 100%;
}
.colorwhite{
    color: white !important;
}
.text-dark{
    padding-top: 10px;
}
.hotline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mercedes2021{
    padding-left: 100px;
}
.noithat{
    margin-top: 5px;
}

.newlink:hover {
    text-decoration: none;
}
.boderbottom{
    border-bottom: 1px solid black;
}
.contenttrenulli{
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.navbarcontent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbarcontent a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbarcontent a:hover {
    text-decoration: none;
    color: grey;
}
.navlinka{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navlinka a {
    display: flex;
    align-items: center;
}
.navbarcontentblack{
    width: 85%;
}
/* css2 */
/* vi sao bop width 200px tu dong margin  */
#sanphammuahang{
    border-bottom:  2px solid rgb(19, 17, 17);
    width: 95%;
}
#logosanpham{
    width: 100px;
    height: 100px;
}
.bodergiohang{
    border-bottom: 1px solid black;
}
#col4boderleft{
    border-left: 1px solid black;
}
.sub{
    height: 50%;
}
.imgsanpham{
    width: 150px;
}
.tienhanhthanhtoan{
    margin-top: 70px;
    margin-left: 70px;
}
.btngroupsub{
    height: 50%;
    margin-top: 150px;
    padding-left: 50px;
}
.buttonborder{
    height: 40px;
}
.video{
    width: 100%;
}
#collasible-nav-dropdown{
    color: white;
}
.contenttintuclienhen{
    margin-top: 7.5px;
}
.itemleftdown{
    display: inline-block !important;
}
.item{
    overflow: hidden !important;
    width: 70%;
    margin: auto;
}
.item img{
    transition: linear 0.2s;
}
.item:hover img{
    transform: scale(1.5);
}
