.post-item {
    box-shadow: 0 2px 4px 0 grey;
}

.post-item button:focus, button:active {
    box-shadow: none !important;
}

.post-item .post-info {
    font-size: 12px;
    color: #5F5F5F;
}

.post-item .post-info .user-name {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.post-item button.post-settings-btn {
    background: none;
    border: none;
}

.post-item button.post-settings-btn:hover, button.post-settings-btn:focus, button.post-settings-btn:active {
    background: none !important;
    border: none;
    box-shadow: none;
}

.post-item button.post-settings-btn:hover {
    color: #555555;
}

.post-item .amount {
    font-size: 12px;
}

.post-item .buttons button, .post-item .buttons button.active {
    border-radius: 0;
    border: none;
    transition: all 0.1s linear;
}

.post-item .buttons .col:first-child button {
    border-top-left-radius: 15px;
}

.post-item .buttons .col:last-child button {
    border-top-right-radius: 15px;
}

.post-item .comment-box {
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 grey;
}

.post-item .reply {
    width: fit-content;
}

.post-item .thumbnail-list {
    overflow: hidden;
}

.post-item .post-thumbnail {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
}

.post-item .more-comment button {
    font-size: 14px;
    font-weight: bold;
}

.post-item .more-comment button:active, .more-comment button:focus, .more-comment button:hover {
    text-decoration-line: none;
}

.post-item .more-comment button:hover {
    color: #ff7979 !important;
}

.post-item .comment-input {
    border-radius: 20px;
    border: 1px solid rgb(194, 194, 194);
    width: 100%;
    font-size: 14px;
}