.post-item button:focus, button:active {
    box-shadow: none !important;
}

.post-item .avatar-post {
    width: 80px;
    height: 80px;
}

.post-item .avatar-comment {
    width: 50px;
    height: 50px;
}

.post-item .post-info {
    font-size: 12px;
    color: #5F5F5F;
}

.post-item .post-info .user-name {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.post-item button.post-settings-btn {
    background: none;
    border: none;
}

.post-item button.post-settings-btn:hover, button.post-settings-btn:focus, button.post-settings-btn:active {
    background: none !important;
    border: none;
    box-shadow: none;
}

.post-item button.post-settings-btn:hover {
    color: #555555;
}

.post-item .buttons button, .buttons button.active {
    border-radius: 0;
    border: none;
    background-color: #21d49f;
    transition: all 0.1s linear;
}

.post-item .buttons button:hover {
    background-color: #21e4a9;
}

.post-item .post-liked {
    background-color: #007bff !important;
}

.post-item .post-liked:hover {
    background-color: #2a91ff !important;
}

.post-item .buttons .col:first-child button {
    border-top-left-radius: 15px;
}

.post-item .buttons .col:last-child button {
    border-top-right-radius: 15px;
}

.post-item .comment-box {
    border-radius: 15px;
}

.post-item .comment-line {
    font-size: 12px;
    border-radius: 15px;
    width: fit-content !important;
}

.post-item .comment-line .username-comment {
    font-size: 14px;
}

.post-item .comment-line .date-comment {
    font-size: 11px;
}

.post-item .comment-line-content {
    width: fit-content;
}

.post-item .comment-line-button {
    margin-left: 66px !important;
    width: fit-content;
}

.post-item .comment-line-button button {
    padding: 0;
    margin-right: 20px;
    font-size: 12px;
}

.post-item .comment-line-button button:active, .comment-line-button button:focus, .comment-line-button button:hover {
    text-decoration-line: none;
}

.post-item .more-comment button {
    font-size: 14px;
    font-weight: bold;
}

.post-item .more-comment button:active, .more-comment button:focus, .more-comment button:hover {
    text-decoration-line: none;
}

.post-item .more-comment button:hover {
    color: #ff7979 !important;
}

.post-item .reply {
    width: fit-content;
}

.post-item .post-thumbnail {
    cursor: pointer;
}