.profile-bg img {
    height: 350px !important;
    width: auto !important;
}

.profile {
    position: relative;
    top: -50px;
}

.avatar-profile {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.profile .profile-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.profile .tab-button-list {
    border-bottom: 4px solid #03A900;
}

.profile .tab-button {
    width: 32%;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.profile .addition-info .share-info, .profile .addition-info .sumary-info {
    box-shadow: 0 2px 4px 0 grey;
    border-radius: 10px;
    font-size: 14px !important;
}

.profile .settings-friend-button .menu-items {
    transform: translateX(-50%) !important;
    left: 50% !important;
    top: 100% !important;
}

.profile button:active, .profile button:focus {
    box-shadow: none;
}