.signup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    max-width: 80%;
    border-radius: 15px;
    background-color: #f8f9fa;
    z-index: 3;
}

.signup .signup-form .form-check-label {
    color: #6c757d !important;
}

.signup .form-title span {
    font-family: cursive;
    font-size: 30px !important;
}

.signup .signup-form label {
    font-size: 14px;
    font-weight: bold;
}

.signup .signup-form input, .signup .signup-form select, .signup .signup-form textarea {
    font-size: 12px;
}

.signup .signup-form label {
    padding-right: 10px;
}

.tooltip[id^="overlay-"] .tooltip-inner {
    background-color: red;
}

.tooltip[id^="overlay-"] .arrow::before {
    border-right-color: red;
}