.search-bar {
    border-radius: 24px;
    position: relative;
}

.search-bar .input-group-prepend, .search-bar .input-group-text {
    border-radius: 24px 0 0 24px !important;
    background: white;
    border-right: none;
}

.search-bar input {
    border-radius: 0 24px 24px 0;
    border-left: none;
}

.search-bar input:active, .search-bar input:focus, .search-bar:active, .search-bar:focus, .search-bar .input-group-prepend {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da;
    z-index: 1 !important;
}