.shortcut {
    position: relative;
    overflow: hidden;
    top: 210px;
    border-radius: 10px;
    border: none;
    background-color: white;
    height: 382px;
    width: 100%;
}

.shortcut .shortcut-list {
    height: 300px;
    overflow: auto;
}

.shortcut .avatar-shortcut {
    max-width: 60px;
    max-height: 60px;
    border-radius: 15px;
}

.shortcut .add-shortcut-button {
    cursor: pointer;
}

.shortcut .add-shortcut-button:hover {
    color: gray;
}