.header-tab button {
    height: 100%;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border: none !important;
    background: none !important;
    color: white !important;
    outline: none !important;
    outline-offset: 0 !important;
}

.header-tab button.selected {
    background-color: white !important;
    box-shadow: 0 0 10px 0 grey !important;
    color: black !important;
}

.header-tab button:active, .header-tab button:focus {
    box-shadow: none;
}